.app__wrapper {
    min-height: 100vh;
    background-color: #f7f7f7;
    background-image: url('https://www.riotgames.com/darkroom/original/0afe99e38996fa109044959ca21f7bc1:395845de073d165efc7961807ebdda5f/league-of-legends-environment-art.jpg');
    background-size: cover;
}