@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: inherit;
    color: inherit;
}
button {
    background-color: #1ea1f6;
    border-radius: 3px;
    border: 0;
    font-weight: 700;
}
input {
    border: 1px solid #777777;
    border-radius: 3px;
}
ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.cardview {
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    background-color: #fefefe;
}
.cardview--border {
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: #fefefe;
}