@import url('https://fonts.googleapis.com/css?family=Carter+One|Fredoka+One|Kanit:700|Montserrat:900|Titillium+Web:900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

.topnav {
    // position: absolute;
    // top: 0;
    // z-index: 2;
    display: flex;
    width: 100%;
    height: 60px;
    // background-color: #1ea1f6;
    // background-color: #222222;
    background-color: rgba(0,0,0,0);
    padding: 10px 40px;
    // justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    .topnav__logo {
        display: flex;
        flex-basis: 33.3%;
        // justify-content: flex-start;
        justify-content: center;
        span {
            // font-family: 'Titillium Web', sans-serif;
            // font-family: 'Montserrat', sans-serif;
            font-family: 'Kanit', sans-serif;
            // font-family: 'Fredoka One', cursive;
            // font-family: 'Carter One', cursive;
            font-size: 34px;
            // font-weight: 500;
            // color: #222222;
            color: #f7f7f7;
        }
    }
    .topnav__user {
        display: flex;
        flex-basis: 33.3%;
        justify-content: flex-end;
        font-weight: 700;
        // color: #222222;
        color: #f7f7f7;
        a {
            border-radius: 5px;
            background-color: #222222;
            padding: 5px 10px;
        }
    }
}