.profile {
    .accounts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 300px;
        border: 1px solid black;
        padding: 20px;
        .title {
            font-weight: 700;
            margin-bottom: 10px;
        }
        .form {
            width: 300px;
            height: 40px;
            border: 1px solid black;
        }
    }
}